# if 문

In [1]:
if True:  # 콜론 주의
    print("if")  # 무조건 4칸 띄기
else:
    print("else")

if False:
    print("if")
else:
    print("else")

if True:
    print("only if")

if
else
only if

In [2]:
if False:
    print("if")
elif True:  # 추가 조건
    print("elif")
else:
    print("else")

if False:
    print("if")
elif False:
    print("elif")
else:
    print("else")

if False:
    print("if")
elif False:
    print("elif")
elif True:
    print("elif2")

elif
else
elif2

In [3]:
a = 3
b = 2
if a > b:
    print("a는 b보다 크다")

c = 2
d = 2
if c == d:
    print("c는 d와 같다")

if c >= d:
    print("c는 d보다 크거나 같다")

e = 2
f = 3
if e != f:
    print("e는 f와 같지 않다")

##모든 조건은 True
print(a > b)
print(c == d)
print(c >= d)
print(e != f)

a는 b보다 크다
c는 d와 같다
c는 d보다 크거나 같다
e는 f와 같지 않다
True
True
True
True

In [4]:
a = 3
b = 2

c = 2
d = 2
if a > b and c == d:  # 여러 조건을 한번에 하고 싶을 때
    print("a는 b보다 크고 c와 d는 같다")

if a > b and c > d:
    print("")
else:
    print("True and False")

if a > b or c > d:
    print("True or False")
else:
    print("")

a는 b보다 크고 c와 d는 같다
True and False
True or False

In [5]:
a = "y" in "python"
print(a)
b = 1 in [1, 2, 3]  # 들어 있는지 확인
print(b)
c = "a" in ["a", "b"]
print(c)

print("-------------")

d = "k" not in "python"
print(d)
e = 4 in [1, 2, 3]
print(e)
f = "c" not in ["a", "b"]
print(f)

True
True
True
-------------
True
False
True

In [6]:
a = 3
b = 2

c = "if" if a > b else "else"  # 한 줄에서 쓰고자 할 때
print(c)

d = 2
e = 2

f = "if" if d != e else "else"
print(f)

if
else

# for 문

In [7]:
print(type(range(1, 3)))
for i in range(3):
    print(i)

print("--------------")

for i in range(1, 4):
    print(i)

print("--------------")

for i in range(1, 6, 2):
    print(i)

print("--------------")

for i in range(4, 0, -2):
    print(i)

<class 'range'>
0
1
2
--------------
1
2
3
--------------
1
3
5
--------------
4
2

In [8]:
print(type(["apple", "tomato", "potato"]))
for i in ["apple", "tomato", "potato"]:
    print("I love " + i)

print("--------------")

for a, b in [
    ["apple", 2],
    ["tomato", 1],
    ["potato", 3],
]:
    print("I have " + a + " " + str(b) + "ea")

<class 'list'>
I love apple
I love tomato
I love potato
--------------
I have apple 2ea
I have tomato 1ea
I have potato 3ea

In [9]:
print(type((1, 2, 3)))
for i in (1, 2, 3):
    print(i)

print((type({"영수": 100, "광수": 90, "옥순": 95})))
for key, value in {"영수": 100, "광수": 90, "옥순": 95}.items():
    print(key + "의 수학점수는 " + str(value))

<class 'tuple'>
1
2
3
<class 'dict'>
영수의 수학점수는 100
광수의 수학점수는 90
옥순의 수학점수는 95

In [10]:
l_score = [["철수", 100], ["민수", 90], ["영구", 15], ["맹구", 10]]
standard = 50

for student, score in l_score:
    if score > standard:
        print("^.^ 반에서 합격기준을 넘는 학생은 " + student)
    else:
        print("ㅠ ㅠ 반에서 합격기준을 못 넘는 학생은 " + student)

^.^ 반에서 합격기준을 넘는 학생은 철수
^.^ 반에서 합격기준을 넘는 학생은 민수
ㅠ ㅠ 반에서 합격기준을 못 넘는 학생은 영구
ㅠ ㅠ 반에서 합격기준을 못 넘는 학생은 맹구

In [11]:
for j in range(1, 4):
    print(str(j) + "번째 for문 진행중...")
    for j in range(10):
        print(j)
        if j > 2:
            break

1번째 for문 진행중...
0
1
2
3
2번째 for문 진행중...
0
1
2
3
3번째 for문 진행중...
0
1
2
3

In [17]:
result = []

for i in range(2, 10):
    for j in range(1, 10):
        result.append(str(i) + " x " + str(j) + " = " + str(i * j) + "\n")

print(*result)

2 x 1 = 2
 2 x 2 = 4
 2 x 3 = 6
 2 x 4 = 8
 2 x 5 = 10
 2 x 6 = 12
 2 x 7 = 14
 2 x 8 = 16
 2 x 9 = 18
 3 x 1 = 3
 3 x 2 = 6
 3 x 3 = 9
 3 x 4 = 12
 3 x 5 = 15
 3 x 6 = 18
 3 x 7 = 21
 3 x 8 = 24
 3 x 9 = 27
 4 x 1 = 4
 4 x 2 = 8
 4 x 3 = 12
 4 x 4 = 16
 4 x 5 = 20
 4 x 6 = 24
 4 x 7 = 28
 4 x 8 = 32
 4 x 9 = 36
 5 x 1 = 5
 5 x 2 = 10
 5 x 3 = 15
 5 x 4 = 20
 5 x 5 = 25
 5 x 6 = 30
 5 x 7 = 35
 5 x 8 = 40
 5 x 9 = 45
 6 x 1 = 6
 6 x 2 = 12
 6 x 3 = 18
 6 x 4 = 24
 6 x 5 = 30
 6 x 6 = 36
 6 x 7 = 42
 6 x 8 = 48
 6 x 9 = 54
 7 x 1 = 7
 7 x 2 = 14
 7 x 3 = 21
 7 x 4 = 28
 7 x 5 = 35
 7 x 6 = 42
 7 x 7 = 49
 7 x 8 = 56
 7 x 9 = 63
 8 x 1 = 8
 8 x 2 = 16
 8 x 3 = 24
 8 x 4 = 32
 8 x 5 = 40
 8 x 6 = 48
 8 x 7 = 56
 8 x 8 = 64
 8 x 9 = 72
 9 x 1 = 9
 9 x 2 = 18
 9 x 3 = 27
 9 x 4 = 36
 9 x 5 = 45
 9 x 6 = 54
 9 x 7 = 63
 9 x 8 = 72
 9 x 9 = 81

# while 문

In [13]:
cnt = 1
condition = cnt != 10
while condition:
    print(condition, cnt)
    cnt = cnt + 1
    condition = cnt != 10

True 1
True 2
True 3
True 4
True 5
True 6
True 7
True 8
True 9

In [14]:
cnt = 1
condition = cnt == 10
while True:
    print(condition, cnt)
    cnt = cnt + 1
    condition = cnt == 10
    if condition:
        break

False 1
False 2
False 3
False 4
False 5
False 6
False 7
False 8
False 9

In [ ]:
cnt = 1
while True:
    print(cnt)
    cnt = cnt + 1